/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button { /* using style class for selector (ids are for single nodes) */
    /* assign default values */
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:80%;
    -fx-text-fill:black;
}

.button:hover{
    -fx-background-color: #E83151;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:#ffffff;
}
/* 
.button { 
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:80%;
    -fx-text-fill:black;
}

.button:hover{
    -fx-background-color: #E83151;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:white;
}


.button { 
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:80%;
    -fx-text-fill:black;
}

.button:hover{
    -fx-background-color: #E83151;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:white;
} */

.minimizeButton{ /* using style class for selector (ids are for single nodes) */
    /* assign default values */
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-padding:-5;
    
}

.minimizeButton:hover{
    -fx-background-color: white;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-padding:-5;
    -fx-text-fill:red
}

.closeButton{ /* using style class for selector (ids are for single nodes) */
    /* assign default values */
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-padding:-5;
}

.closeButton:hover{
    -fx-background-color: white;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-padding:-5;
    -fx-text-fill:red
}

.customTitleBar{
    -fx-background-color: #8499B1;

}

.emailText{
    -fx-text-fill: #47a4b3;
}

.parsersText{
    -fx-text-fill: #6477ca;
}

.window{
    -fx-border-color:black;
    -fx-border-width:3;
}

.window:pressed{
    -fx-border-color:rgb(248, 121, 121);
    -fx-border-width:3;
}
