/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.btn { /* using style class for selector (ids are for single nodes) */
    /* assign default values */
    -fx-background-color:  #1721419a;
    -fx-border-width : 1;
    /* -fx-border-color: rgba(245, 242, 90, 0.671); */
    -fx-border-radius:80%;
    -fx-text-fill:#c6c6c6;
}

.btn:hover{
    -fx-background-color: #172141;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:#c6c6c6;
}
/* 
.button { 
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:80%;
    -fx-text-fill:black;
}

.button:hover{
    -fx-background-color: #E83151;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:white;
}


.button { 
    -fx-background-color: null;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:80%;
    -fx-text-fill:black;
}

.button:hover{
    -fx-background-color: #E83151;
    -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5;
    -fx-text-fill:white;
} */

.minimizeButton{ /* using style class for selector (ids are for single nodes) */
    /* assign default values */
    -fx-background-color: null;
    /* -fx-border-width : 1;
    -fx-border-color: white;
    -fx-border-radius:5; */
    -fx-padding:-5;
    
}

.minimizeButton:hover{
    -fx-background-color: rgb(136, 136, 136);
    /* -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5; */
    -fx-padding:-5;
    -fx-text-fill:red;
}

.closeButton{ /* using style class for selector (ids are for single nodes) */
    /* assign default values */

    -fx-background-color: null;
    /* -fx-border-width : 1;
    -fx-border-color: white;
    -fx-border-radius:5; */
    -fx-padding:-5;

}

.closeButton:hover{
    -fx-background-color: rgb(255, 85, 85);
    /* -fx-border-width : 1;
    -fx-border-color: black;
    -fx-border-radius:5; */
    -fx-padding:-5;
}

.customTitleBar{
    -fx-background-color: #39174160;

}

.emailText{
    -fx-text-fill: #9eb4fce5;
}

.parsersText{
    -fx-text-fill: #9eb4fce5;
}

.window{
    -fx-border-color:black;
    -fx-border-width:3;
}

.window:pressed{
    -fx-border-color:rgb(248, 121, 121);
    -fx-border-width:3;
}

.emailField{
    -fx-text-inner-color: #D8D8D8;
    -fx-prompt-text-fill: #c6c6c6;
}

.passwordField{
    -fx-text-inner-color: #D8D8D8;
    -fx-prompt-text-fill: #c6c6c6;
}